In [25]:
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPClassifier

In [26]:
data = pd.read_csv('zoo.data')

In [27]:
data.head(10)

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
6,calf,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
7,carp,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,4
8,catfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
9,cavy,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1

In [28]:
data = data.drop(columns = ['animal name'])

In [29]:
x_data=data.drop(columns = ['type'])
y_data=data['type']

In [30]:
## data Preperation
split = int(0.75*data.shape[0])
print(split)
X_train = x_data[:split]
y_train = y_data[:split]

X_test = x_data[split:]
y_test = y_data[split:]
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

75
(75, 16) (75,)
(26, 16) (26,)

In [98]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(32, 16, 16), random_state=1)

In [99]:
clf.fit(X_train,y_train)

MLPClassifier(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(32, 16, 16), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [100]:
predictions=clf.predict(X_test)

In [101]:
predictions

array([1, 3, 7, 2, 2, 3, 3, 4, 2, 1, 7, 4, 2, 6, 5, 2, 5, 4, 1, 1, 2, 1,
       6, 1, 3, 2], dtype=int64)

In [102]:
actual=np.array(y_test)

In [103]:
correct = 0
total = 0
for ix in range(len(y_test)):
    if predictions[ix]==actual[ix]:
        correct+=1
    total+=1

In [104]:
acc = correct/total

In [105]:
print(acc)

0.8461538461538461