In [211]:
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import label_binarize

In [194]:
data = pd.read_csv('zoo.data')

In [195]:
data.head(10)

,animal name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
5,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
6,calf,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1
7,carp,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,4
8,catfish,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
9,cavy,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1

In [196]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
animal name    101 non-null object
hair           101 non-null int64
feathers       101 non-null int64
eggs           101 non-null int64
milk           101 non-null int64
airborne       101 non-null int64
aquatic        101 non-null int64
predator       101 non-null int64
toothed        101 non-null int64
backbone       101 non-null int64
breathes       101 non-null int64
venomous       101 non-null int64
fins           101 non-null int64
legs           101 non-null int64
tail           101 non-null int64
domestic       101 non-null int64
catsize        101 non-null int64
type           101 non-null int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [197]:
data = data.drop(columns=['animal name'])

In [198]:
split=int(len(data)*0.75)

In [199]:
training_data = process_data[:split]
test_data = process_data[split:]

In [200]:
x=data.drop(columns=['type'])
y=data['type']

In [201]:
ix=np.array(x)
iy=np.array(y)

In [202]:
skf = StratifiedKFold(n_splits=5)
skf.get_n_splits(ix,iy)
for train_index, test_index in skf.split(ix,iy):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = ix[train_index], ix[test_index]
    y_train, y_test = iy[train_index], iy[test_index]

TRAIN: [ 12  15  18  19  22  23  26  27  28  29  31  32  33  34  35  36  37  38
  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54  55  56
  57  58  59  60  61  63  64  65  66  67  68  69  70  71  72  73  74  75
  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92  93
  94  95  96  97  98  99 100] TEST: [ 0  1  2  3  4  5  6  7  8  9 10 11 13 14 16 17 20 21 24 25 30 62]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  13  14  16  17  20  21
  24  25  30  36  38  42  43  44  45  47  48  49  50  51  52  53  54  55
  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72  73
  74  75  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91  92
  93  94  95  96  97  98  99 100] TEST: [12 15 18 19 22 23 26 27 28 29 31 32 33 34 35 37 39 40 41 46 76]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  37  39  40  41  46  55  59  62  63  64  65  66  67  68  69  70  71  73
  74  75  76  77  78  79  81  82  83  84  85  86  87  88  89  90  91  92
  93  94  95  96  97  98  99 100] TEST: [36 38 42 43 44 45 47 48 49 50 51 52 53 54 56 57 58 60 61 72 80]
TRAIN: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  56  57  58  60  61  62  70  72  74  75  76  80  83  84  85  86  87
  91  92  93  94  95  96  97  98  99 100] TEST: [55 59 63 64 65 66 67 68 69 71 73 77 78 79 81 82 88 89 90]
TRAIN: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 71 72
 73 76 77 78 79 80 81 82 88 89 90] TEST: [ 70  74  75  83  84  85  86  87  91  92  93  94  95  96  97  98  99 100]

c:\users\lovetesh\appdata\local\programs\python\python36\lib\site-packages\sklearn\model_selection\_split.py:652: Warning: The least populated class in y has only 4 members, which is too few. The minimum number of members in any class cannot be less than n_splits=5.
  % (min_groups, self.n_splits)), Warning)

In [203]:
model2 = SVC(kernel='linear')
model.fit(X_train,y_train)
predictions = model.predict(X_test)
correct=0
total=0
for ix in range(len(y_test)):
    if predictions[ix]==y_test[ix]:
        correct+=1
    total+=1
acc = correct/total
print(acc)

0.9444444444444444

In [204]:
model2 = SVC(kernel='rbf',gamma='auto')
model2.fit(X_train,y_train)
predictions2 = model2.predict(X_test)
correct=0
total=0
for ix in range(len(y_test)):
    if predictions2[ix]==y_test[ix]:
        correct+=1
    total+=1
acc = correct/total
print(acc)

0.9444444444444444

In [205]:
model3 = SVC(kernel='poly',gamma='auto')
model3.fit(X_train,y_train)
predictions3 = model3.predict(X_test)
correct=0
total=0
for ix in range(len(y_test)):
    if predictions3[ix]==y_test[ix]:
        correct+=1
    total+=1
acc = correct/total
print(acc)

0.7777777777777778

In [206]:
model4 = SVC(kernel='sigmoid',gamma='auto')
model4.fit(X_train,y_train)
predictions4 = model4.predict(X_test)
correct=0
total=0
for ix in range(len(y_test)):
    if predictions3[ix]==y_test[ix]:
        correct+=1
    total+=1
acc = correct/total
print(acc)

0.7777777777777778

In [207]:
y_score = model4.fit(X_train, y_train).decision_function(X_test)

In [208]:
y_score

array([[ 6.36997175,  5.14891039,  0.77907182, -0.29228687,  1.9056427 ,
         4.13050485,  2.95818537],
       [ 6.4516665 ,  4.17421949,  1.9517878 ,  5.20486596,  0.76450394,
        -0.45212711,  2.90508342],
       [ 6.36927166,  5.05000164, -0.16592469,  1.97943993,  1.81238009,
         3.96646762,  1.98836376],
       [ 4.04837291,  6.33575524,  0.84152871, -0.15188947,  1.79590589,
         4.07047448,  4.05985224],
       [ 6.36589411,  5.05186397,  0.86220235, -0.13291251,  1.81489811,
         4.0333554 ,  3.00469858],
       [ 6.1829817 ,  4.20523105,  0.68950528, -0.31961321,  1.96813287,
         5.18338052,  3.0903818 ],
       [ 4.12659327,  5.27980713,  2.01932672,  6.30614059,  0.76463202,
        -0.49286718,  2.99636745],
       [ 4.07427984,  6.33121304, -0.17920537,  0.88725458,  1.80627638,
         4.03271086,  4.04747067],
       [ 6.19880904,  5.19844799,  0.82194211, -0.22201728,  1.89878765,
         4.10374093,  3.00028956],
       [ 4.14360752,  5.29872746,  1.99910815,  6.31833838,  0.75927242,
        -0.5       ,  2.98094607],
       [ 6.34551075,  5.10075995,  0.85362425, -0.1424858 ,  1.80667846,
         4.05274055,  2.98317184],
       [ 6.34938769,  4.13572053,  0.78743019, -0.29669525,  1.91228127,
         5.13972831,  2.97214725],
       [ 4.09400244,  6.33023469, -0.15204299,  0.86036455,  1.78471135,
         4.03062274,  4.0521072 ],
       [ 6.3956559 ,  5.06169148,  0.85965908, -0.13361355,  1.80461935,
         4.02059428,  2.99139345],
       [ 5.25096602,  6.36151659,  0.70738562, -0.49042115,  1.99553706,
         4.14217068,  3.03284519],
       [ 6.35436578,  5.15215743,  0.79699135, -0.27224154,  1.89575345,
         4.11560898,  2.95736456],
       [ 2.98526417,  5.32919437,  1.97523554,  5.08792062, -0.27844423,
         0.79654909,  5.10428043],
       [ 4.04837291,  6.33575524,  0.84152871, -0.15188947,  1.79590589,
         4.07047448,  4.05985224]])

In [221]:
from sklearn.metrics import average_precision_score
average_precision = average_precision_score(y_test, y_score)

print('Average precision-recall score: {0:0.2f}'.format(average_precision))

ValueError: multiclass format is not supported